# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Buildozer
.buildozer/
bin/
build/

# Android
*.apk
*.aab
local.properties

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
